@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Major+Mono+Display&display=swap');
@font-face{
    font-family: 'Old Scool';
    src: url(fonts/NOSTRUD\ -\ Personal\ Use.ttf) format('truetype');
}

:root{
    --fonteFraca: Arial, Helvetica, sans-serif;
    --fonteMedia: 'Caveat', cursive;
    --fonteForte: 'Old Scool', sans-serif;

    --azulEsverdeado: #193C40;
    --verdeClaro: #2E5902;
    --verdeEscuro: #214001;
    --salmao: #D96941;
    --vermelho: #A62B1F;
}

*{
    margin: 0;
    text-decoration: none;
}

body{
    font-family: var(--fonteFraca);
}

header{
    max-width: 100%;
    min-height: 100px;
    padding-top: 30px;
    margin: auto;
    background-color: var(--azulEsverdeado);
    color: #fff;

    text-align: center;
    font-family: var(--fonteForte);
}

nav{
    width: 100%;
    background-color: var(--azulEsverdeado);
    color: #fff;
    display: flex;
    justify-content: center;
}
nav > a{
    color: #fff;
    font-weight: 900;
    font-size: 1.2em;
    padding: 10px 20px;
}
nav > a:hover{
    background-color: var(--verdeClaro);
    border-top: 2px solid var(--salmao);
    border-bottom: 2px solid var(--salmao);
    transition-duration: 0.2s;
}

main{
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.217);
    padding: 10px;
}

article h1{
    text-align: center;
    font-family: var(--fonteForte);
    margin: 30px 0;
}

article h2{
    margin: 15px;
    color: var(--verdeEscuro);
}

article p{
    text-indent: 30px;
    margin: 7px  0;
    line-height: 23px;
    font-size: 1em;
}

blockquote{
    padding: 0 15px;
    margin: 0 35px;
    font-family: var(--fonteMedia);
    font-size: 1.7em;
    line-height: 23px;
    border-left: 2px solid #00000046;
    margin: 20px 0;
}

.altor{
    font-family: var(--fonteFraca);
    font-size: 0.6em;
}

.imagenPequena{
    min-width: 320px;
    max-width: 353px;
    display: block;
    margin: auto;
}

picture img{
    max-width: 100%;
    min-width: 320px;
    display: block;
    margin: auto;
}

.card{
    width: 237px;
    height: 253px;

}

#card1{
    background:
    url(imagens/cardCocaina.jpeg)    /* image */
    center / auto auto /* position / size */
    no-repeat                /* repeat */ 
}

#card2{
    background:
    url(imagens/cardCracolandia.png)    /* image */
    center / 700px auto /* position / size */
    no-repeat                /* repeat */ 
}

#card2 p{
    background-color: #00000049;
}

aside{
    background-color: #00000046;
    margin-bottom: 30px;
}

aside h3{
    text-align: center;
    background-color: var(--azulEsverdeado);
    font-size: 1.5em;
    padding: 5px;
    color: #fff;
    margin-bottom: 20px;
}

section{
    background-color: var(--salmao);
    height: 100%;
    display: flex;
    align-content: center;
    padding: 10px;
    margin: -20px 0;
}

.card{
    color: #fff;
    border-radius: 5px;
    height: 280px;
    padding: 10px;
    margin-left: 15%;
}

.card > h4{
    background-color: #A62B1F;
    border-radius: 5px 5px 0 0;
    margin: -10px -10px 0 -10px;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.card > p{
    text-indent: 0px;
    text-align: center;
    font-weight: bold;
}

footer p{
font-size: 0.9em;
text-align: center;
color: #fff;
background-color: #000;
}

footer a{
    color: #A62B1F;
    font-weight: bold;
}